html, body {
    padding: 0;
    margin: 0;
    background-color: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Quicksand', sans-serif;
}

.heading {
    min-height: 2rem;
    padding: 0;
    list-style: none;
    margin: 0 0 2rem 0;
    background-color: #fff;
    color: #131313;
    box-shadow: 0 .2rem .5rem rgba(0, 0, 0, .4);
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &__link {
        margin-right: 2rem;
        
        &:hover {
            background-color: #f2f2f2;
        }
        
        a {
            display: inline-block;
            padding: 2rem;
            color: inherit;
            text-decoration: none;

            &:visited {
                color: inherit;
            }
        }
    }

    &__title {
        padding: 0;
        margin: 0;
        font-size: 2rem;
        line-height: 2rem;
    }
}

.content {
    padding: 2rem 3rem;
    max-width: 60rem;
    margin: 2rem;
    background-color: #fff;
    box-shadow: .2rem .2rem .5rem rgba(0, 0, 0, .4);

    @media screen and (min-width: 71rem) {
        margin: 2rem auto auto auto;
    }
}